# fly.toml app configuration file generated for livekit-media-worker on 2025-12-19T12:15:30Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'livekit-media-worker'
primary_region = 'fra'

[build]

[processes]
  transcription = "npm run start:transcription"
  ai-jobs = "npm run start:ai-jobs"

[http_service]
  internal_port = 8080
  force_https = false
  auto_stop_machines = false
  auto_start_machines = false
  min_machines_running = 2

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/health"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
